.error{
            color: #FF0000;
        }
        

        label{
            display: inline-block;
            min-width: 200px;
        }

form{
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  }

div{
 margin-left: 35%;
 width: 30%;
}
