.error{
            color: #FF0000;
        }
        

        label{
            display: inline-block;
            min-width: 100px;
        }

form{
  text-align: center;
  border: 1px solid black;
  padding: 30px;
  }

fieldset{
 margin-left: 35%;
 width: 30%;
}

#commande {
  width: 40px;
}
